Options +FollowSymlinks
RewriteEngine On


RewriteRule ^$ pages/front-office/articles.php [L]
RewriteRule ^articles/?$ pages/front-office/articles.php [L]
RewriteRule ^articles\.php$ pages/front-office/articles.php [L]
RewriteRule ^article\.php$ pages/front-office/article.php [L]
RewriteRule ^article/([_a-z0-9-]*)-([_a-z0-9-]*)/?$ pages/front-office/article.php?id=$1 [L]
RewriteRule ^article/([_a-z0-9-]*)/?$ pages/front-office/article.php?id=$1 [L]
RewriteRule ^articles/view-([_a-z0-9-]*)-?.*$ pages/front-office/article.php?id=$1 [L]


RewriteRule ^admins/?$ pages/back-office/login.php [L]
RewriteRule ^admins/traitement/?$ pages/back-office/login_process.php [L]
RewriteRule ^admins/home/?$ pages/back-office/home.php [L]
RewriteRule ^admins/logout/?$ pages/back-office/logout.php [L]
RewriteRule ^admins/login-error-([_a-z0-9-]*)/?$ pages/back-office/login.php?error=$1 [L]


RewriteRule ^admins/articles/?$ pages/back-office/articles/list.php [L]
RewriteRule ^admins/articles/add/?$ pages/back-office/articles/add.php [L]
RewriteRule ^admins/articles/view-([_a-z0-9-]*)/?$ pages/back-office/articles/view.php?id=$1 [L]
RewriteRule ^admins/articles/edit-([_a-z0-9-]*)/?$ pages/back-office/articles/edit.php?id=$1 [L]
RewriteRule ^admins/articles/delete-([_a-z0-9-]*)/?$ pages/back-office/articles/list.php?delete=$1 [L]
RewriteRule ^admins/articles/toggle-status/?$ pages/back-office/articles/toggle_status.php [L]
RewriteRule ^admins/articles/delete-image/?$ pages/back-office/articles/delete_image.php [L]

